<!DOCTYPE html>
{% extends 'tula/base.html' %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <!-- List of uploaded files -->
        <div id= "container3">
        <div>
        	<script type="text/javascript">
                     document.write('<p style="margin-left:10%; margin-top:5px;float:left;"><img src="/media/images/accepted/{{file_name}}?'+Math.random()+'" alt="Willmaster.com logo" border="0" height="500" width="667"></p>');
                     document.write('<p style="margin-left:10%; margin-top:5px;"><img src="/media/images/accepted/{{file_name}}chart.png?'+Math.random()+'" alt="Willmaster.com logo" border="0" height="500" width="667"></p>');
                     </script>
        </div>
        <!-- Upload form. Note enctype attribute! -->

        <div class = container4>
			<div>
				<form action="{% url 'tula:switch' file_name%}" method="post" target="_top">
					{% csrf_token %}
					<input type="submit" value="REJEITAR" />
				</form>
			</div>
			<div>
				 <form action="{% url 'tula:accepted_list'%}" method="post">
	            {% csrf_token %}
	            <input type="submit" value="Voltar" />
	        </form>
			</div>
		</div>
        </div>
    </body>

</html>
{% endblock %}